# Data
/data/
/*.csv
/*.json

# Environment
.env
venv/
# Python
__pycache__/
*.pyc
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Trình duyệt & WebDriver
edge_profile/
msedgedriver.exe